#tags {
    padding: 0.5rem;
    margin: 2rem;
}
#image{
    margin: 2rem;
}
.storyPreview {
    position: relative;
    top: 19vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 1.2em 1.2rem 2rem 1.2rem;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}
.POPCloseButton {
    align-self: flex-end;
    color: #a2a2a2;
    border: none;
    background-color: transparent;
    font-weight: bolder;
    font-size: larger;
}
.POPCloseButton:hover {
    color: red;
}
.storyPreview h1 {
    margin-top: 2rem;
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 3rem;
}
.extraInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.addTagsPopup {
    background-color: rgba(255, 255, 255, 0.69);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

.note{
    position: absolute;
    margin-top: 1.5rem;
    color: rgba(255, 0, 0, 0.700);
}